.title {
    display: block;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: hsla(42, 55%, 59%, 1);
    text-align: start;
    margin: 20px 10%;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 2px;
}
