.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(to right top, #4a280d, #663a17, #824d20, #a0602a, #bf7534);
    z-index: 1;
    -webkit-animation: tracking-out-expand 2s ease-out 1s both;
    animation: tracking-out-expand 2s ease-out 1s both;
}

.loader-container h1{
    font-family: 'Roboto Condensed';
    font-size: 4vw;
    line-height: 32px;
    letter-spacing: 20px;
    text-transform: uppercase;
    color:  hsla(42, 55%, 59%, 1);
    -webkit-animation: tracking-out-expand 1s ease-out 1s both;
    animation: tracking-out-expand 1s ease-out 1s both;  
}
.gooey{
    position: absolute;
    top: 70%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    filter: contrast(20)
}

.dot{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background-color: hsla(42, 55%, 59%, 0.2);
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite
}

.dots{
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

span{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: hsla(42, 55%, 59%, 0.2);
    border-radius: 50%;
}

@keyframes dot{

    50% {
    transform: translateX(96px);
    }
}

@keyframes dots {

  50%{
    transform: translateX(-31px)
    }
}

 @-webkit-keyframes tracking-out-expand {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    100% {
    letter-spacing: 1em;
    opacity: 0;
    }
}

 @keyframes tracking-out-expand {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        letter-spacing: 1em;
        opacity: 0;
    }
}
      